__pycache__/
*.pyc
*.pyo
*.pyd
.Python

.venv/
venv/
env/
ENV/

.idea/
.vscode/

.streamlit/secrets.toml
.DS_Store
Thumbs.db

runtime/
driver/

data/raw/

data/processed/clean_jobs.csv
data/processed/clean_jobs_v1.csv
data/processed/clean_jobs_filtered_v1.csv

output/eda_figures/
output/keyword_figures/
output/lda_figures/
output/high_salary_figures/
output/high_salary_keyword_figures/